<!DOCTYPE html>
<li class="w3-container w3-border-0" style="padding: 0px;">
    <div class="w3-button w3-border-bottom w3-small" onclick="visualizeJson('<%= filepath.replace(/\\/g,'/') %>');" style="padding: 8px;">
        <%= filepath.replace(/\\/g,'/').replace(prefix.replace('viz', 'out'),'') %>
    </div>
</li>
