<!DOCTYPE html>
<%
    var metric;
    for (var metricNo in metrics) {
        metric = metrics[metricNo];
%>
    <a onclick="switchSelect(this)" data-selected="false" data-type="metric" data-value="<%= metric %>"><%= metric %></a>
<%
    }
%>