<!DOCTYPE html>
<div class="w3-button w3-border-bottom" style="display: inline-block; padding: 1px;" onclick="visualizeFile('<%= data.data_file_path %>')">
    <%
        if (data.num_segments > 1) {
    %>
        <%= data.start_id %> - <%= data.start_id + data.num_segments %>
    <%
        } else {
    %>
        <%= data.start_id %>
    <%
        }
    %>
</div>