html, body, .global_div {
  height: 100%;
}

.visualizer {
    float: left;
    width: 0%;
    height: 100%;
    white-space: nowrap;
    text-align: center;
}

.model_table {
    display: inline-block;
    vertical-align: top;
}

.models_headings {
    margin: 10px 10px 0px 10px;
    background-color: gray;
    padding: 5px 20px;
    border: 1px solid lightgray;
    font-weight: bold;
    border-radius: 7px 7px 0 0;
    border-bottom: 0px;
}

.model_heading {
    padding: 4px 7px;
    display: inline-block;
    box-sizing: border-box;
    width: 190px;
    position: relative;
    opacity: 1;
    text-align: left;
}

.models_container {
    margin: 0 10px;
    height: calc(-55px + 100vh);
    transition: all 0.3s ease;
}

.model {
    margin: 0 0 10px 0;
    background-color: white;
    padding: 10px 20px 25px 20px;
    border: 1px solid lightgray;
    display: inline-block;
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.model:hover {
    background-color: lightgray;
}

.models_container .model_section {
    width: 190px;
    display: inline-block;
    vertical-align: top;
}

.models_container .section_elem {
    padding: 4px 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: inherit;
    text-align: left;
}

.model_see_more {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: black;
    font-size: 10px;
    cursor: pointer;
}

.model_add {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.model_add .parameters_list {
    margin-top: 15px;
    padding: 14px 15px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 40%;
    position: relative;
    opacity: 1;
    text-align: left;
}

.model:hover .model_add .parameters_list {
    border-color: gray;
}

.model_add .param_elem {
    padding: 4px 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    cursor: inherit;
    text-align: left;
}

.model_add .param_header {
    font-size: 14px;
    border-bottom: 1px solid lightgray;
}

.metric_table_div {
    position: relative;
    display: inline-block;
    width: 60%;
    text-align: center;
}

.metric_table {
    margin-top: 15px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-radius: 5px;
    max-width: 100%;
    opacity: 1;
    text-align: left;
    font-size: 12px;
    overflow-x: auto;
}

.metric_table th {
    background-color: lightgray;
    padding: 4px 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    cursor: inherit;
    text-align: center;
}

.metric_table td {
    padding: 4px 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    cursor: inherit;
    text-align: left;
}

.metric_table tr:nth-child(even) {
    background-color: lightgray;
}

.model:hover .metric_table tr:nth-child(even) {
    background-color: gray;
}

.model:hover .metric_table th {
    background-color: gray;
}

.model:hover .param_header {
    border-bottom-color: gray;
}

.model:hover .metric_table {
    border-color: gray;
}

/* Dropdown Button */
.dropbtn {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    opacity: 0.8;
    width: 176px;
    max-height: 176px;
    overflow: auto;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #f1f1f1;
    display: block;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #5cb85c;}